:root {
  /* Colors */
  --zinc-50: oklch(98.5% 0 0);
  --zinc-100: oklch(96.7% 0.001 286.375);
  --zinc-200: oklch(94% 0.004 286.32);
  --zinc-300: oklch(90.1% 0.006 286.286);
  --zinc-400: oklch(70.5% 0.015 286.067);
  --zinc-500: oklch(54.5% 0.024 285.835);
  --zinc-600: oklch(44.2% 0.017 285.786);
  --zinc-700: oklch(37% 0.013 285.805);
  --zinc-800: oklch(21% 0.006 285.885);
  --zinc-900: oklch(14.1% 0.005 285.823);

  --color-royal-blue-50: #ecf0ff;
  --color-royal-blue-100: #dde4ff;
  --color-royal-blue-200: #c2cdff;
  --color-royal-blue-300: #9cabff;
  --color-royal-blue-400: #757dff;
  --color-royal-blue-500: #615fff;
  --color-royal-blue-600: #4736f5;
  --color-royal-blue-700: #3d2ad8;
  --color-royal-blue-800: #3225ae;
  --color-royal-blue-900: #2c2689;
  --color-royal-blue-950: #1c1650;

  /* Typography */
  --base-font-size: 18px;
  --example-font-size: 1.6em;
  --pos-font-size: 0.6em;
  --translation-word-font-size: 1.4em;
  --translation-sentence-font-size: 1em;

  /* Spacing */
  --container-padding: 20px;
  --padding-small: 5px 10px;
  --gap-xsmall: 5px;
  --gap-small: 10px;
  --gap-medium: 20px;

  /* Border radius */
  --border-radius-small: 5px;
  --border-radius-medium: 10px;

  /* Layout */
  --max-width: 540px;
}

.container {
  font-family: "DM Serif Text", serif;
  margin: 0 auto;
  overflow: hidden;
  font-size: var(--base-font-size);
  background-color: var(--zinc-50);
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--gap-small);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  max-width: var(--max-width);
  letter-spacing: 0.025em;
  color: var(--zinc-900);
  position: relative;
  text-align: left;
}

.example-sentence-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  padding: var(--container-padding);
}

.example-sentence {
  font-size: var(--example-font-size);
  font-weight: bold;
}

.meta {
  font-family: "DM sans", sans-serif;
  font-size: var(--pos-font-size);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--gap-small);
  width: 100%;
}
.pill {
  background-color: var(--zinc-200);
  padding: var(--padding-small);
  border-radius: var(--border-radius-small);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--gap-xsmall);
}

.translation-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: var(--gap-medium);
  background-color: var(--zinc-200);
  padding: var(--container-padding);
}

.translation-word {
  font-size: var(--translation-word-font-size);
  font-weight: bold;
}

.translation-sentence {
  font-size: var(--translation-sentence-font-size);
  color: var(--zinc-600);
  font-weight: normal;
}

.cloze {
  background-color: var(--zinc-300);
  padding: var(--padding-xsmall) var(--padding-small);
  border-radius: 5px;
  width: fit-content;
  color: transparent;
  transition: all 0.3s ease-in-out;
}
.front .cloze {
  color: transparent;
  padding-left: 40px;
  padding-right: 40px;
  transition: all 0.3s ease-in-out;
}
.back .cloze {
  color: oklch(45.7% 0.24 277.023);
  background-color: oklch(93% 0.034 272.788);
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s ease-in-out;
}

.icon {
  width: 14px;
  height: 14px;
}

a {
  color: var(--color-royal-blue-400);
  text-decoration: none;
  fill: var(--color-royal-blue-500);
}
